/**=========== HOME PAGE ===========*/
body.home{
    #content{
        .ast-container{
            /*Content*/
            #primary{
                padding: 10px 0;
                #main{
                    .section{
                        .section-content{
                            .ast-row{
                                .post-item{
                                    .tittle-content{
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                    // Kỹ năng nghề nghiệp
                    .ky-nang-nghe-nghiep{
                        margin-top: 15px;
                        .section-content{
                            .ast-row{
                                .post-item{
                                    .content-wrap{
                                        padding-left: 7px;
                                        .tittle-content{
                                            font-size: 18px;
                                        }
                                        p{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .kien-thuc{
                        .kien-thuc-viec-lam, .kien-thuc-tuyen-dung{
                            margin: 10px 1% 30px 1%;
                            .section-content{
                                a{
                                    .tittle{
                                        font-size: 17px;
                                        font-weight: 700;
                                    }
                                }
                                .ast-row{
                                    .post-item{
                                        flex-wrap: wrap;
                                        align-items: center;
                                        flex-direction: column;
                                        margin: 0;
                                        .avatar-wrap{
                                            width: 100%;
                                            .avatar{
                                                margin-top: 0;
                                            }
                                        }
                                        .content-wrap{
                                            width: 100%;
                                            padding-left: 0;
                                            .tittle-content{
                                                font-size: 14px;
                                                line-height: 20px;
                                                font-weight: 400;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #secondary{
                margin: 5px 0 0 0;
            }
        }
    }
}