@charset "utf-8";

.mb-xs {
  margin-bottom: 8px;
}

.mb-sm {
  margin-bottom: 16px;
}

.mb-md {
  margin-bottom: 24px;
}

.mb-lg {
  margin-bottom: 32px;
}

.mb-xl {
  margin-bottom: 40px;
}

@include mq-pc {

.mb-xs {
  margin-bottom: 8px;
}

.mb-sm {
  margin-bottom: 16px;
}

.mb-md {
  margin-bottom: 24px;
}

.mb-lg {
  margin-bottom: 32px;
}

.mb-xl {
  margin-bottom: 40px;
}
}
