@charset "utf-8";
.group-texts {
  &__link {
    display: flex;
    color: $c-white;
  }

  &__date {
    font-size: 12px;
    margin-right: 20px;
  }

  &__title {
    font-size: 12px;
    line-height: 2;
  }
}
