@charset "utf-8";

.tag-positive {
    background-color: $c-theme;
    display: inline-block;
    margin: 4px;
    padding: 4px 16px;
    border: #{$c-theme} 2px solid;
    border-radius: 25px;
    font-size: 11px;
    font-weight: $fw-noto-bold;
    line-height: 1;
    color: $c-white;
    white-space: nowrap;

    @include mq-pc {
        font-size: 13px;
    }
}

.tag-normal {
    background-color: $c-white;
    display: inline-block;
    margin: 4px;
    padding: 4px 16px;
    border: #616161 2px solid;
    border-radius: 25px;
    font-size: 11px;
    font-weight: $fw-noto-bold;
    line-height: 1;
    color: #616161;
    white-space: nowrap;

    @include mq-pc {
        font-size: 13px;
    }
}