@charset "utf-8";
.txt-concept {
    color: $c-white;
    font-size: 14px;
    line-height: 2.29;
    text-align: center
}

.txt-underline {
    position: relative;
    display: block;
    width: fit-content;
    padding-bottom: 2px;

    &::after {
        position: absolute;
        content: '';
        background-color: $c-theme-lt;
        width: 100%;
        height: 5px;
        left: 0;
        bottom: 0;
    }
}

//
// .txt-large {
//   $this: &;
// 	font-size: calc(36px + 5 * (100vw - 1366px)/1194);
// 	font-weight: $fw-noto-normal;
//
//   &--white {
//     @extend #{$this};
//     color: $c-white;
//   }
// }
//
// .txt-medium {
//   $this: &;
// 	font-size: calc(24px + 5 * (100vw - 1366px)/1194);
// 	font-weight: $fw-noto-normal;
//
//   &--white {
//     @extend #{$this};
//     color: $c-white;
//   }
// }
//
// .txt-normal {
//   $this: &;
// 	font-size: calc(16px + 5 * (100vw - 1366px)/1194);
// 	font-weight: $fw-noto-normal;
//
//   &--white {
//     @extend #{$this};
//     color: $c-white;
//   }
// }
//
// .txt-positive {
// 	color: $c-red;
// 	// font-size: 28px;
// }
//
// .txt-notice {
// 	color: #ff0000;
// }
//
// .txt-link {
// 	color: $c-green;
// 	text-decoration: underline;
// 	transition: .7s;
//
// 	&:visited {
// 		color: $c-green;
// 	}
//
// 	&:hover {
// 		opacity: .7;
// 	}
// }
//
// .txt-copy {
// 	@include mq-pc {
// 		box-sizing: border-box;
// 		padding: 0 20px;
// 	}
// }
//
// .txt-date {
//   margin-right: 24px;
//   // color: #fff;
//   font-size: 18px;
// }