.section-course {
  .content {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
  }
}

.course {
  &-wrapper {
    margin-top: 84px;
  }

  &-box-container {
    background-color: $c-white;
    padding: 20px 0;
    margin-bottom: 40px;

    > .concept-list:nth-of-type(odd) {
      margin-bottom: 20px;
    }
  }

  &-outline {
    width: 100%;
    font-size: 16px;

    tr, dd {
      border-color: #000000 !important;
    }

    tr {
      border-bottom: 2px solid #e5e5e6;
      padding: 8px 0;
      align-items: center;
      display: flex;
      text-align: left;
      width: 100%;
    }

    th {
      width: 25%;
      font-weight: $fw-noto-bold;
    }

    td {
      width: 75%;
      padding: 14px 0;
      line-height: 1.5em;
    }
  }

  &-menu {
    dt {
      background-color: #000000;
      padding: 10px;
      color: #fff;
      font-size: 16px;
      font-weight: $fw-noto-bold;
    }

    dd {
      border: 2px solid #000000;
      padding: 16px 8px;
      line-height: 1.8em;
      font-size: 14px;
    }
  }

  @include mq-pc {
    &-box-container {
      padding: 70px 0;
    }
  }
}

.concept {
  $concept: &;

  &-list {
    display: block;
    margin-bottom: 30px;

    @include mq-sp {
      #{$concept}-item {
        padding: 0;
      }
    }
  }

  &-image {
    width: 90%;
    margin: 0 auto;
  }

  &-item {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
  }

  @include mq-pc {
    &-list {
      &-image {
        width: 100%;
      }
    }

    &-image {
      width: 70%;
    }

    &-item {
      padding: 30px;
    }
  }

  @media print, screen and (min-width: 1280px) {
    &-list {
      display: flex;
      justify-content: center;
    }

    &-image {
      width: 35%;
      margin: 0;
    }

    &-item {
      width: 50%;
      padding: 40px;
      margin: 0;
    }
  }
}

.menu {
  &-course {
    &-title {
      padding: 20px 0;
      font-size: 23px;
      font-weight: $fw-noto-bold;
      line-height: 1.4;
    }

    &-box {
      font-size: 16px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    &-text {
      font-weight: 500;
      text-align: center;
      margin-right: 25px;
      padding: 3px;
    }

    &-num {
      width: 60%;
    }

    &-desc {
      font-size: 16px;
      line-height: 1.6em;
    }
  }

  &-price {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  @include mq-pc {
    &-course {
      &-title {
        font-size: 24px;
      }
    }
  }
}

.under-menu {
  &-course-text {
    color: #ffffff !important;
    background-color: #aa2930 !important;
    line-height: 1;
  }

  &-price {
    color: #aa2930 !important;
  }
}
