/* パンくずリスト */
.topic-path {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 36px;
    line-height: 1.8;
}

.topic-path-item {
    font-size: 16px;
    margin-right: 36px;
}

.topic-path-link {
    color: #fff;
    position: relative;
}

.topic-path-link::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: -25px;
    margin-top: -6px;
    border-top: 1px solid #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-right: 1px solid #fff;
}

.topic-path-item strong {
    color: #fff;
}

@media screen and (max-width: 980px) {
    .topic-path {
        width: 90%;
        margin: 0 auto 36px;
    }
}

@media screen and (max-width: 480px) {
    .topic-path-item {
        font-size: 13px;
    }
}

/* パンくずリスト */
.news-list {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.news-list-link {
    width: 33.3%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
    margin: 37px 0px;
}

.news-list-image {
    /* width: 14%; */
    width: 70%;
}

.news-list-box {
    width: 77%;
}

.news-list-box p:nth-of-type(3) {
    color: #fff;
    line-height: 1.8;
}

.news-list-category {
    background-color: #fff;
    padding: 11px;
    color: #fff;
    margin-bottom: 15px;
}

.news-list-date {
    margin: 20px 0;
    font-weight: 600;
    color: #fff;
}

.news-list-title {
    color: #fff;
}

@media screen and (max-width: 760px) {
    .news-list {
        padding: 0 0 1px;
        flex-direction: column;
    }

    .news-list-image {
        width: 70%;
        height: auto;
    }

    .news-list-box {
        width: 70%;
    }

    .news-list-link {
        margin: 37px auto;
        width: 96%;
    }
}

@media screen and (max-width: 480px) {
    /* .news-list-image {
      width: 31%;
      height: 31%;
      } */

    .news-list-box {
        width: 59%;
    }
}


/* ページャー */
.m-pager_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-pager {
    margin-top: 40px;
    text-align: center;
}

.m-pager li {
    color: #fff;
    display: inline-block;
    vertical-align: top;
}

.m-pager_prev a,
.m-pager_next a,
.m-pager_prev span,
.m-pager_next span {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-indent: -1000px;
    position: relative;
}

.m-pager_prev a:hover,
.m-pager_next a:hover {
    background-color: #ffc800;
}

.m-pager_prev a:after,
.m-pager_next a:after,
.m-pager_prev span:after,
.m-pager_next span:after {
    content: " ";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 11px;
    left: 6px;
    border-top: 3px solid #d20212;
    border-right: 3px solid #d20212;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.m-pager_prev a:after,
.m-pager_prev span:after {
    left: 14px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
}

.m-pager_prev span:after,
.m-pager_next span:after {
    border-color: #e6dfc9;
}

.m-pager li.m-pager_off {
    display: none;
}

.m-pager li.m-pager_prev span {
    display: none;
}

.m-pager li.m-pager_next span {
    display: none;
}

.m-pager li.m-pager_item .page-numbers {
    border: solid 1px #f0f0f0;
    padding: 0.3em 1em;
    display: inline-block;
}

.m-pager li.m-pager_item .page-numbers.current {
    border: solid 1px transparent;
}

@media screen and (max-width: 750px) {
    .m-pager {
        margin-top: 25px;
    }

    .m-pager_item a,
    .m-pager_item span {
        padding-top: 2px;
        margin: 0 3px;
        width: 30px;
        height: 30px;
    }

    .m-pager_prev a,
    .m-pager_next a,
    .m-pager_prev span,
    .m-pager_next span {
        width: 30px;
        height: 30px;
    }

    .m-pager_prev a:after,
    .m-pager_next a:after,
    .m-pager_prev span:after,
    .m-pager_next span:after {
        width: 12px;
        height: 12px;
        top: 7px;
        left: 4px;
    }

    .m-pager_prev a:after,
    .m-pager_prev span:after {
        left: 11px;
    }
}

.s-search_shoplist_num {
    color: #fff;
}

/* ニュース single.php */
.news-detail-wrapper {
    width: 60%;
    margin: 0 auto;
}

.news-detail-category {
    padding: 10px;
    background: #a5986f;
    color: #fff;
}

.news-title-box {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column-reverse;
    margin: 25px 0;
}

.news-title-date {
    color: #fff;
    width: 20%;
    margin-top: 15px;
}

.news-detail-date {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.news-detail-image {
    width: 70%;
    margin: 0 auto;
    margin: 50px auto;
    text-align: center;
}

.news-detail-text {
    padding-bottom: 42px;
}

.news-detail-text > p {
    color: #fff;
    font-size: 19.2px;
    line-height: 1.6em;
}

@media screen and (max-width: 760px) {
    .news-detail-image {
        width: 100%;
    }

    .news-detail-wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .news-title-date {
        width: 34%;
    }
}

/* ボタン */
.btn-more {
    text-align: center;
    margin: 41px 0;
}

.btn-link {
    background: #9B794B;
    padding: 20px 85px;
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
    position: relative;
}

.btn-link::before {
    content: "";
    width: 13px;
    height: 13px;
    transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg scale(1));
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    position: absolute;
    top: 40%;
    left: 83%;
}

.round {
    border-radius: 50px;
}

.btn-link.round::before {
    width: 8px;
    height: 8px;
    transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg scale(1));
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    margin: auto;
}

.btn-link.round::after {
    content: "";
    width: 30px;
    height: 1px;
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 12%;
    border: 1px solid #000;
}

@media screen and (max-width: 760px) {
    .btn-link {
        padding: 18px 81px;
    }
}
