
.section-shoplist {
  @include mq-pc {
    .content {
      width: 90%;
      max-width: 1100px;
    }
  }
}

.section-leading {
  padding: 0 30px;

  @include mq-pc {
    padding: 0;
    
    .content {
      width: 90%;
      max-width: 1100px;
    }
  }
}
