/**=========== single ===========*/
body.single{
    #content{
        .ast-container{
            /*Content*/
            #primary{
                margin: 5px 0 0 0;
                #main{
                    article.post{
                        margin: 10px 0;
                        padding: 0;
                        border-radius: 5px;
                        position: relative;
                        .ast-breadcrumbs-wrapper{
                            position: relative;
                            z-index: 9;
                            background-color: #F9F9F9;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                            .ast-breadcrumbs-inner{
                                padding: 2px 0 0 5px;
                            }
                        }
                        .single-layout-1{
                            background-color: #F9F9F9;
                            position: relative;
                            z-index: 9;
                            border-radius: 5px;
                            padding: 10px;
                            .entry-header{
                                padding: 0 0 5px 0;
                                margin-bottom: 10px;
                                background-color: #fff;
                                border-radius: 5px;
                                box-shadow: 0 0 10px 0 var(--k-color-Blue-blur);
                                .ast-single-post-order{
                                    .entry-title{
                                        font-size: 36px;
                                        font-weight: 500;
                                        background: -webkit-linear-gradient(var(--k-color-Blue-100), var(--k-color-Blue-70));
                                        background-clip: text;
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                    }
                                }
                            }
                            .entry-content{
                                h2{
                                    font-size: 27px;
                                    margin-bottom: 5px;
                                }
                                h3{
                                    font-size: 25px;
                                    margin-bottom: 5px;
                                }
                                p{
                                    margin-bottom: 5px;
                                }
                                background-color: #fff;
                                img{
                                    border: 2px solid rgb(214, 214, 214);
                                    border-radius: 5px;
                                }
                            }
                        }
                         
                    }
                    article.post::before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        filter: blur(10px);
                        transform: translateY(0px) scale(1.003, 1.003);
                        background: linear-gradient(90deg, var(--k-color-Blue-blur) 0%, var(--k-color-Brown-blur) 50%, var(--k-color-Blue-blur) 100%);
                        background-size: 400% 400%;
                        animation: gradient-body 4s ease infinite;
                        @keyframes gradient-body {
                            0% {
                                background-position: 0% 50%;
                            }
                            50% {
                                background-position: 100% 50%;
                            }
                            100% {
                                background-position: 0% 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}
